<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
</head>
<body>
    <center>
        <div>
            <form action = "admin/login" method="post">
                <p><input type = "text" placeholder = "ID" name = "admin_id"></p>
                <p><input type = "password" placeholder = "PASSWORD" name = "admin_password"></p>
                <p><button type = "submit">로그인</button>
            </form>
        </div>
    </center>
</body>
</html>
